/* Админ-панель */


.admin {
    background-color: #1A2238;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.admin__form {
    background-color: #0F1523;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    height: 400px;
    width: 50%;
    align-items: center;
    justify-content: center
}

.admin__form-title {
    color: #FF6B35;
    margin-bottom: 10px;
    font-family: 'Montserrat', Times, serif;
    border-bottom: 2px solid #FF6B35;
    width: 50%;
    text-align: center;
    

}

.admin__form-main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    align-items: center
}

.admin__form-input {
    color: #FFFFFF;
    padding: 7px;
    border-radius: 15px;
    background-color: #1A2238;
    width: 100%;
}

.admin__form-img {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center
}

.form__img-label {
    color: white;
    font-family: 'Roboto', Times, serif;
}
.admin__form-btn {
    width: 50%;
    padding: 10px;
    background-color: #FF6B35;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    text-align: center;
}

.admin__form-link {
    font-family: 'Montserrat';
    color: #FFFFFF;
}

.admin__form-link:hover {
    color: #FF6B35;
}

.admin__form-linktext {
    color: #FFFFFF;
    font-family: 'Montserrat';
}